<div style="background: #F8F8FB;">
  <spacer size="16"></spacer>
  <p class="text-center text3">Need help? <a href="#">Contact our support</a> team or hit us up on Twitter @spreadshareco</p>
  <spacer size="8"></spacer>
</div>
<container>
  <row>
    <columns>
      <spacer size="60"></spacer>
      <center><img src="/assets/img/logo.png" /></center>
      <spacer size="37"></spacer>
      <h2 class="text-center text4">Community curated Lists</h2>
      <spacer size="17"></spacer>
      <p class="text-center text5">Made by Spreadshare.co</p>
      <spacer size="4"></spacer>
      <p class="text-center text5">Schönholtzer Str. 10A, 10115 Berlin</p>
      <spacer size="30"></spacer>
      <center>
        <a class="footer-link" href="#">Website</a>
        <a class="footer-link" href="#">Email Preferences</a>
      </center>
      <spacer size="36"></spacer>
    </columns>
  </row>
</container>
