<!-- <div style="background: #F8F8FB;">
  <spacer size="16"></spacer>
  <p class="text-center text3">Need help?
    <a href="#">Contact our support</a> team or hit us up on Twitter @spreadshareco</p>
  <spacer size="8"></spacer>
</div> -->
<container style="background: #F8F8FB;">
  <row>
<columns>
      <spacer size="60"></spacer>
      <center>
        <img src="/assets/img/logo.svg" />
      </center>
      <spacer size="37"></spacer>
      <h2 class="text-center text4">Follow your Stream</h2>
      <spacer size="17"></spacer>
      <p class="text-center text5">Spreadshare Inc.</p>
      <spacer size="30"></spacer>
      <center >
        <a class="footer-link" href="#">Change your email preferences</a>
      </center>
      <spacer size="36"></spacer>
    </columns>
  </row>
</container>